Repository romuloxaguiar/portal-de-prompt-bin0h4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @backend-leads, @security-team, @analytics-team, @prompt-team, @frontend-team, @frontend-leads, @devops-team, @infrastructure-leads, @ci-leads, @qa-team, @docs-team, @dependency-managers, @legal-team

.github/CODEOWNERS:

* @global-maintainers

# Backend services ownership
/src/backend/ @backend-team @backend-leads

# Security-specific modules
/src/backend/src/security/ @security-team @backend-leads

# Analytics service ownership
/src/backend/src/analytics-service/ @analytics-team @backend-leads

# Prompt service ownership
/src/backend/src/prompt-service/ @prompt-team @backend-leads

# Web frontend ownership
/src/web/ @frontend-team @frontend-leads

# Infrastructure and deployment configuration
/infrastructure/ @devops-team @infrastructure-leads

# CI/CD workflow configurations
/.github/workflows/ @devops-team @ci-leads

# Test ownership
/src/backend/tests/ @qa-team @backend-leads
/src/web/tests/ @qa-team @frontend-leads

# Documentation ownership
*.md @docs-team

# Package dependency management
package.json @dependency-managers @security-team
package-lock.json @dependency-managers @security-team

# License and legal documents
LICENSE @legal-team

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/prompt-service/services/template.service.ts
  src/backend/src/prompt-service/services/template.service.ts
Owners: @prompt-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/prompt-service/services/version.service.ts
  src/backend/src/prompt-service/services/version.service.ts
Owners: @prompt-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/prompt-service/utils/prompt-optimizer.util.ts
  src/backend/src/prompt-service/utils/prompt-optimizer.util.ts
Owners: @prompt-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/prompt-service/utils/template-parser.util.ts
  src/backend/src/prompt-service/utils/template-parser.util.ts
Owners: @prompt-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/prompt-service/validators/prompt.validator.ts
  src/backend/src/prompt-service/validators/prompt.validator.ts
Owners: @prompt-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/prompt-service/validators/template.validator.ts
  src/backend/src/prompt-service/validators/template.validator.ts
Owners: @prompt-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/config/oauth.config.ts
  src/backend/src/security/config/oauth.config.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/controllers/auth.controller.ts
  src/backend/src/security/controllers/auth.controller.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/interfaces/user.interface.ts
  src/backend/src/security/interfaces/user.interface.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/middleware/jwt.middleware.ts
  src/backend/src/security/middleware/jwt.middleware.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/middleware/rbac.middleware.ts
  src/backend/src/security/middleware/rbac.middleware.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/models/user.model.ts
  src/backend/src/security/models/user.model.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/routes/auth.routes.ts
  src/backend/src/security/routes/auth.routes.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/services/auth.service.ts
  src/backend/src/security/services/auth.service.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/services/token.service.ts
  src/backend/src/security/services/token.service.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/utils/crypto.util.ts
  src/backend/src/security/utils/crypto.util.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/security/validators/auth.validator.ts
  src/backend/src/security/validators/auth.validator.ts
Owners: @security-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/tests/analytics-service/metrics.test.ts
  src/backend/tests/analytics-service/metrics.test.ts
Owners: @qa-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/tests/analytics-service/reports.test.ts
  src/backend/tests/analytics-service/reports.test.ts
Owners: @qa-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/tests/api-gateway/health.test.ts
  src/backend/tests/api-gateway/health.test.ts
Owners: @qa-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/tests/collaboration-service/workspace.test.ts
  src/backend/tests/collaboration-service/workspace.test.ts
Owners: @qa-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/tests/prompt-service/prompt.test.ts
  src/backend/tests/prompt-service/prompt.test.ts
Owners: @qa-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/tests/prompt-service/template.test.ts
  src/backend/tests/prompt-service/template.test.ts
Owners: @qa-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/tests/prompt-service/version.test.ts
  src/backend/tests/prompt-service/version.test.ts
Owners: @qa-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/tests/security/auth.test.ts
  src/backend/tests/security/auth.test.ts
Owners: @qa-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/README.md
  src/web/README.md
Owners: @docs-team

Add public-samples/portal-de-prompt-bin0h4/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/package.json
  src/web/package.json
Owners: @dependency-managers, @security-team

Add public-samples/portal-de-prompt-bin0h4/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @frontend-leads

Add public-samples/portal-de-prompt-bin0h4/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team, @frontend-leads
