Repository romuloxaguiar/portal-de-prompt-bin0h4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @backend-leads, @security-team, @analytics-team, @prompt-team, @frontend-team, @frontend-leads, @devops-team, @infrastructure-leads, @ci-leads, @qa-team, @docs-team, @dependency-managers, @legal-team

.github/CODEOWNERS:

* @global-maintainers

# Backend services ownership
/src/backend/ @backend-team @backend-leads

# Security-specific modules
/src/backend/src/security/ @security-team @backend-leads

# Analytics service ownership
/src/backend/src/analytics-service/ @analytics-team @backend-leads

# Prompt service ownership
/src/backend/src/prompt-service/ @prompt-team @backend-leads

# Web frontend ownership
/src/web/ @frontend-team @frontend-leads

# Infrastructure and deployment configuration
/infrastructure/ @devops-team @infrastructure-leads

# CI/CD workflow configurations
/.github/workflows/ @devops-team @ci-leads

# Test ownership
/src/backend/tests/ @qa-team @backend-leads
/src/web/tests/ @qa-team @frontend-leads

# Documentation ownership
*.md @docs-team

# Package dependency management
package.json @dependency-managers @security-team
package-lock.json @dependency-managers @security-team

# License and legal documents
LICENSE @legal-team

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/modules/cache/main.tf
  infrastructure/terraform/modules/cache/main.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/modules/cache/variables.tf
  infrastructure/terraform/modules/cache/variables.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/modules/kubernetes/main.tf
  infrastructure/terraform/modules/kubernetes/main.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/modules/kubernetes/variables.tf
  infrastructure/terraform/modules/kubernetes/variables.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/README.md
  src/backend/README.md
Owners: @docs-team

Add public-samples/portal-de-prompt-bin0h4/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/package.json
  src/backend/package.json
Owners: @dependency-managers, @security-team

Add public-samples/portal-de-prompt-bin0h4/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/config/database.config.ts
  src/backend/src/analytics-service/config/database.config.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/controllers/metrics.controller.ts
  src/backend/src/analytics-service/controllers/metrics.controller.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/controllers/reports.controller.ts
  src/backend/src/analytics-service/controllers/reports.controller.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/models/metric.model.ts
  src/backend/src/analytics-service/models/metric.model.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/models/report.model.ts
  src/backend/src/analytics-service/models/report.model.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/routes/metrics.routes.ts
  src/backend/src/analytics-service/routes/metrics.routes.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/routes/reports.routes.ts
  src/backend/src/analytics-service/routes/reports.routes.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/services/analytics.service.ts
  src/backend/src/analytics-service/services/analytics.service.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/services/metrics.service.ts
  src/backend/src/analytics-service/services/metrics.service.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/services/reports.service.ts
  src/backend/src/analytics-service/services/reports.service.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/analytics-service/utils/data-processing.util.ts
  src/backend/src/analytics-service/utils/data-processing.util.ts
Owners: @analytics-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/api-gateway/server.ts
  src/backend/src/api-gateway/server.ts
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/api-gateway/config/cors.config.ts
  src/backend/src/api-gateway/config/cors.config.ts
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/api-gateway/config/rate-limit.config.ts
  src/backend/src/api-gateway/config/rate-limit.config.ts
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/api-gateway/controllers/health.controller.ts
  src/backend/src/api-gateway/controllers/health.controller.ts
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/api-gateway/middleware/auth.middleware.ts
  src/backend/src/api-gateway/middleware/auth.middleware.ts
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/api-gateway/middleware/error.middleware.ts
  src/backend/src/api-gateway/middleware/error.middleware.ts
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/api-gateway/middleware/logging.middleware.ts
  src/backend/src/api-gateway/middleware/logging.middleware.ts
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/api-gateway/middleware/validation.middleware.ts
  src/backend/src/api-gateway/middleware/validation.middleware.ts
Owners: @backend-team, @backend-leads

Add public-samples/portal-de-prompt-bin0h4/src/backend/src/api-gateway/routes/index.ts
  src/backend/src/api-gateway/routes/index.ts
Owners: @backend-team, @backend-leads
