Repository romuloxaguiar/portal-de-prompt-bin0h4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @backend-team, @backend-leads, @security-team, @analytics-team, @prompt-team, @frontend-team, @frontend-leads, @devops-team, @infrastructure-leads, @ci-leads, @qa-team, @docs-team, @dependency-managers, @legal-team

.github/CODEOWNERS:

* @global-maintainers

# Backend services ownership
/src/backend/ @backend-team @backend-leads

# Security-specific modules
/src/backend/src/security/ @security-team @backend-leads

# Analytics service ownership
/src/backend/src/analytics-service/ @analytics-team @backend-leads

# Prompt service ownership
/src/backend/src/prompt-service/ @prompt-team @backend-leads

# Web frontend ownership
/src/web/ @frontend-team @frontend-leads

# Infrastructure and deployment configuration
/infrastructure/ @devops-team @infrastructure-leads

# CI/CD workflow configurations
/.github/workflows/ @devops-team @ci-leads

# Test ownership
/src/backend/tests/ @qa-team @backend-leads
/src/web/tests/ @qa-team @frontend-leads

# Documentation ownership
*.md @docs-team

# Package dependency management
package.json @dependency-managers @security-team
package-lock.json @dependency-managers @security-team

# License and legal documents
LICENSE @legal-team

Add public-samples/portal-de-prompt-bin0h4/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @docs-team

Add public-samples/portal-de-prompt-bin0h4/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @docs-team

Add public-samples/portal-de-prompt-bin0h4/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @docs-team

Add public-samples/portal-de-prompt-bin0h4/.github/workflows/backend-cd.yml
  .github/workflows/backend-cd.yml
Owners: @devops-team, @ci-leads

Add public-samples/portal-de-prompt-bin0h4/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @ci-leads

Add public-samples/portal-de-prompt-bin0h4/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @ci-leads

Add public-samples/portal-de-prompt-bin0h4/.github/workflows/web-cd.yml
  .github/workflows/web-cd.yml
Owners: @devops-team, @ci-leads

Add public-samples/portal-de-prompt-bin0h4/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team, @ci-leads

Add public-samples/portal-de-prompt-bin0h4/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @docs-team

Add public-samples/portal-de-prompt-bin0h4/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @docs-team

Add public-samples/portal-de-prompt-bin0h4/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @docs-team

Add public-samples/portal-de-prompt-bin0h4/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @docs-team

Add public-samples/portal-de-prompt-bin0h4/infrastructure/docker/grafana/dashboards.yml
  infrastructure/docker/grafana/dashboards.yml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/docker/grafana/datasources.yml
  infrastructure/docker/grafana/datasources.yml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/docker/nginx/nginx.conf
  infrastructure/docker/nginx/nginx.conf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/docker/prometheus/prometheus.yml
  infrastructure/docker/prometheus/prometheus.yml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/backend/configmap.yaml
  infrastructure/kubernetes/backend/configmap.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/backend/deployment.yaml
  infrastructure/kubernetes/backend/deployment.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/backend/ingress.yaml
  infrastructure/kubernetes/backend/ingress.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/backend/secret.yaml
  infrastructure/kubernetes/backend/secret.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/backend/service.yaml
  infrastructure/kubernetes/backend/service.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/monitoring/alertmanager.yaml
  infrastructure/kubernetes/monitoring/alertmanager.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/monitoring/servicemonitor.yaml
  infrastructure/kubernetes/monitoring/servicemonitor.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/web/configmap.yaml
  infrastructure/kubernetes/web/configmap.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/web/deployment.yaml
  infrastructure/kubernetes/web/deployment.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/web/ingress.yaml
  infrastructure/kubernetes/web/ingress.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/kubernetes/web/service.yaml
  infrastructure/kubernetes/web/service.yaml
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/scripts/backup-db.sh
  infrastructure/scripts/backup-db.sh
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/scripts/init-db.sh
  infrastructure/scripts/init-db.sh
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/scripts/setup-monitoring.sh
  infrastructure/scripts/setup-monitoring.sh
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @infrastructure-leads

Add public-samples/portal-de-prompt-bin0h4/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @infrastructure-leads
